{:up ["create table users (id bigserial primary key, email text not null, password text not null, created_at timestamp without time zone default (now() at time zone 'utc'));"]
 :down ["DROP TABLE users;"]}
